<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     	  package="se.claremont.android.wallpaper"
      	  android:versionCode="1"
      	  android:versionName="1.0"
     	  android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="11" 
			  android:targetSdkVersion="17"/>	
	<uses-feature android:name="android.software.live_wallpaper" />
 
	<application android:icon="@drawable/claremont_icon" 
	    		 android:label="@string/app_name" 
	    		 android:allowBackup="true">
		<service android:name=".ClaremontWallpaperService"
            	 android:label="@string/app_name"
            	 android:icon="@drawable/claremont_icon"
            	 android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper"
                	   android:resource="@xml/livewallpaper" />
        </service>				  	
	</application>
</manifest>